/* Hero CSS */
#hero {
   width: 100%;
   height: calc(100vh + 20px);
   max-height: 960px;
   padding: 70px 0 0;
   background-color: #111;
}
.hero_slide {
   position: relative;
   width: 100%;
   height: 100%;
   max-height: 900px;
}

/* Slide Contents CSS */

@keyframes fade_in {
   0% { opacity: 0; }
   100% { opacity: 1; }
}

.slide {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
}
.slide::after {
   position: absolute;
   top: 0;
   bottom: 0;
   left: 0;
   width: 50%;
   background-image: -webkit-gradient(linear, right top, left top, from(transparent), to(#111));
   background-image: linear-gradient(to left, transparent, #111);
   opacity: .35;
   content: '';

}
.slide::before {
   z-index: 0;
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   top: auto;
   height: 20%;
   background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), to(#111));
   background-image: linear-gradient(to bottom, transparent, #111);
   content: '';
}
.hero_slide .slide:nth-child(1) {
   display: block;
   background-image: url(../img/hero_1.jpg);
}
.hero_slide .slide:nth-child(2) {
   display: none;
   background-image: url(../img/hero_2.jpg);
}
.hero_slide .slide:nth-child(3) {
   display: none;
   background-image: url(../img/hero_3.jpg);
}
.hero_slide .slide:nth-child(4) {
   display: none;
   background-image: url(../img/hero_4.jpg);
}
.hero_slide .slide:nth-child(5) {
   display: none;
   background-image: url(../img/hero_5.jpg);
}

.slide_text {
   width: calc(100% - 162px);
   height: calc(100% - 120px);
   position: absolute;
   top: 0;
   left: 0;
   z-index: 1;
   padding: 76px 60px;
   margin: 0 80px;
   border: 1px solid rgb(163, 107, 79);
   border-top: none;
   color: rgb(255, 255, 255);
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}
.slide_eyebrow {
   font-family: "genesis-head-light", sans-serif;
   font-size: 26px;
   line-height: 28px;
   letter-spacing: -0.65px;
   margin: 0 0 14px;
}
.slide_title {
   font-family: "genesis-head-light", sans-serif;
   font-size: 120px;
   line-height: 110px;
   letter-spacing: -3px;
   margin: 0 0 17px;
}
.hero_slide .slide:nth-child(2) .slide_title {
   width: 800px;
   font-family: "genesis-head-light", sans-serif;
   font-size: 100px;
   line-height: 94px;
   letter-spacing: -2.5px;
   margin: 0 0 32px;
}
.slide_subtitle {
   font-family: "genesis-head-light", sans-serif;
   font-size: 24px;
   line-height: 32px;
   letter-spacing: -0.6px;
}
.hero_slide .slide:nth-child(3) .slide_subtitle span {
   display: block;
   font-family: "genesis-head-light", sans-serif;
   font-size: 30px;
   line-height: 32px;
   letter-spacing: -0.65px;
   margin: 10px 0 0;
}
.slide_more {
   width: 220px;
   height: 70px;
   margin: 0 0 33px;
}
.slide_more_text {
   font-family: "genesis-head-light", sans-serif;
   font-size: 26px;
   line-height: 28px;
   letter-spacing: 0px;
   margin: 0 0 33px;
}
.slide_link_white {
   position: relative;
   display: inline-block;
   width: 240px;
   height: 56px;
   font-family: "genesis-text";
   font-size: 16px;
   line-height: 56px;
   text-align: center;
   color: rgb(255, 255, 255);
   background-color: rgb(0, 0, 0);
   border: 1px solid rgb(255, 255, 255);
   overflow: hidden;
}
   .slide_link_white_bg {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: rgb(255, 255, 255);
}
   .slide_link_white_text {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   line-height: 56px;
   color: rgb(0, 0, 0);
}
   .slide_link_white:hover .slide_link_white_bg {
   top: -64px;
   transition: top 0.4s;
   /* hover에 transition을 주면, hover시에만 작동하고 mouse-out일때는 작동x */
}
   .slide_link_white:hover .slide_link_white_text {
   color: rgb(255, 255, 255);
}

.slide_link_black {
   position: relative;
   display: inline-block;
   width: 240px;
   height: 56px;
   font-family: "genesis-text";
   font-size: 16px;
   line-height: 56px;
   text-align: center;
   color: rgb(0, 0, 0);
   background-color: rgb(255, 255, 255);
   border: 1px solid rgb(255, 255, 255);
   margin: 0 0 0 20px;
   overflow: hidden;
}
   .slide_link_black_bg {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: rgb(0, 0, 0);
}
   .slide_link_black_text {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   line-height: 56px;
   color: rgb(255, 255, 255);
}
   .slide_link_black:hover .slide_link_black_bg {
   top: -64px;
   transition: top 0.4s;
   /* hover에 transition을 주면, hover시에만 작동하고 mouse-out일때는 작동x */
}
   .slide_link_black:hover .slide_link_black_text {
   color: rgb(0, 0, 0);
}

/* Slide Index Button CSS */
.index {
   width: 100%;
   height: auto;
   position: absolute;
   bottom: 70px;
   left: 0;
   z-index: 2;
}
.index_list {
   width: 100px;
   height: 20px;
   display: flex;
   justify-content: center;
   margin: 0 auto;
   align-items: center;
}
.index_btn {
   display: block;
   width: 20px;
   height: 20px;
   padding: 4px;
   margin: 0 6px;
   display: flex;
   align-items: center;
   cursor: pointer;
}
.index_btn:last-child {
   padding: 0 4px;
}

.index_btn_bullet {
   display: block;
   width: 8px;
   height: 8px;
   background-color: rgba(255, 255, 255, 0.4);
   border: 0 solid rgb(255, 255, 255);
   border-radius: 4px;
}
.index_btn:nth-child(1) .index_btn_bullet {
   width: 12px;
   height: 12px;
   border: 2px solid rgb(255, 255, 255);
   background-color: rgba(255, 255, 255, 0);
   border-radius: 6px;
}

.index_btn_play {
   width: 14px;
   height: 14px;
   vertical-align: middle;
   margin: 0 0 0 5px;
}

/* Move Button CSS */
.move {
   position: absolute;
   top: 40%;
   left: 0;
   width: 100%;
   height: 62px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 0 24px;
}
.move_prev , .move_next {
   width: 32px;
   height: 64px;
   display: block;
   display: flex;
   justify-content: center;
   align-items: center;
   cursor: pointer;
}
.move_prev img, .move_next img {
   width: 24px;
}