/* Animation */
@keyframes fade_in {
   0% {opacity: 0;}
   100% {opacity: 1;}
}
@keyframes fade_out {
   0% {opacity: 1;}
   100% {opacity: 0;}
}
@keyframes fade_in_up {
   0% { margin-top: 40px; opacity: 0; }
   100% { margin: 0; opacity: 1; }
}
@keyframes zoom_out_bg {
   0% { background-size: 120% 120%; opacity: 1; }
   100% { background-size: 100% 100%; opacity: 1; }
}


/* Genesis CSS */
.hero {
   background-color: black;
   width: 100%;
   height: 950px;
   position: relative;
   top: 0;
   left: 0;
}
.hero_slide {
   width: 100%;
   height: 100%;
   position: absolute;
   padding: 120px;
   transition: all 0.4s;
}

.hero .hero_slide:nth-child(1) {
   z-index: 3;
   background-image: url(../img/hero_1.jpg);
}
.hero .hero_slide:nth-child(2) {
   z-index: 2;
   background-image: url(../img/hero_2.jpg);
   opacity: 1;
}
.hero .hero_slide:nth-child(3) {
   z-index: 1;
   background-image: url(../img/hero_3.jpg);
   opacity: 1;
}

.hero_slide_title {
   font-size: 70px;
   color: rgba(255, 255, 255,1);
}

.hero_slide_nav {
   width: 50px;
   position: absolute;
   top: 800px;
   left: calc(50% - 25px);
   z-index: 4;
   display: flex;
   justify-content: space-between;
}
.hero_slide_button {
   width: 8px;
   height: 8px;
   background-color: rgba(255, 255, 255, 0.4);
   border-radius: 4px;
   cursor: pointer;
   transition: all 0.3s;
}
.hero_slide_button:nth-child(1) {
   background-color: rgba(255, 255, 255,1);
}




/* Main Banner CSS */
.main_banner {
   height: 58px;
   padding: 10px 0 0 0;
   background-color: rgb(246, 246, 246);
   text-align: center;
}
.main_banner p:nth-child(1) { line-height: 1.2; }
.main_banner a { 
   line-height: 2;
   color: rgb(17,17,17);
   text-decoration: underline; 
}

/* Main Visual CSS */

.main_visual_wrap {
   width: 100%;
   padding: 0 48px;
}

.main_visual {
   width: 100%;
   padding: 0 8px;
   display: flex;
}

.main_visual_1 {
   width: 50%;
   height: 900px;
   background-image: url(../img/nike-just-do-it-1.png);
   padding: 36px;
   display: flex;
   flex-direction: column;
   justify-content: flex-end;
}

.main_visual_1 div { display: none; }

.main_visual_1:hover { cursor: pointer; }

.main_visual_2 {
   width: 50%;
   height: 900px;
   background-image: url(../img/nike-just-do-it-2.png);
   padding: 36px;
   display: flex;
   flex-direction: column;
   align-items: flex-end;
   justify-content: flex-end;
}

.main_visual_2 div { display: none; }

.main_visual_2:hover { cursor: pointer; }

.button_shop_white {
   display: block;
   width: 94px;
   height: 40px;
   background-color: white;
   color: rgb(17,17,17);
   border-radius: 20px;
   font-size: 16px;
   text-align: center;
   line-height: 40px;
   border: none;
}  
.button_shop_white:hover { background-color: rgba(255,255,255,0.7); }

.button_shop_black {
   display: block;
   width: 94px;
   height: 40px;
   background-color: rgb(17,17,17);
   color: white;
   border-radius: 20px;
   text-align: center;
   font-size: 16px;
   line-height: 40px;
   border: none;
}  
.button_shop_black:hover { background-color: rgba(0,0,0,0.7); }

/* Main Visual Video CSS */
.hero_video_wrap {
  width: 100%;
  height: 900px;
  padding: 0 56px;
  overflow: hidden;
  position: relative;
}

.hero_video { width: 100%; margin:-90px 0 0 0;}

.hero_video_a {
   background-color: rgb(0,0,0,0.2);
   display: block;
   width: calc(100% - 112px);
   height: 100%;
   position: absolute;
   top: 0;
   left: 56px;
}

.hero_video_title { 
   position: absolute;
   top: 420px;
   left: 0;
   text-align: center;
   width: 100%;
   font-family: 'Nike Futura';
   font-size: 120px;
   color: rgba(255,255,255,0.8);
   word-spacing: 5px;
}

.hero_video_title:hover {cursor: pointer;}

/* The Latest And Greatest - Best CSS */
.best_wrap {
   width: 100%;
   padding: 84px 0 0 0;
}

.best_scroll_wrap {
   width: 100%;
   overflow: scroll;
   padding: 0 0 20px 48px;
}

.best {
   width: 200%;
   display: flex;
}

.best li {
   width: calc(16.6667% - 16px);
   height: auto;
   margin: 0 8px;
}

.best li a {
   font-display: block;
   width: 100%;
   height: 100%;
}

.best li img {
   width: 100%;
   vertical-align: middle;
}

.best li div {
   display: flex;
   justify-content: space-between;
   padding: 12px 16px 0 0;
}

/* Just In CSS */
.just_in_wrap {
   width: 100%;
   padding: 84px 48px 0;
}


.just_in {
   width: 100%;
   display: flex;
}

.just_in_1 {
   width: calc(50% - 16px);
   height: 700px;
   background-image: url(../img/just_in_1.jpg);
   margin: 0 8px;
}

.just_in_1_a {
   display: block;
   width: 100%;
   height: 100%;
   display: flex;
   flex-direction: column;
   justify-content: flex-end;
   padding: 36px;
}

.just_in_2 {
   width: calc(50% - 16px);
   height: 700px;
   background-image: url(../img/just_in_2.jpg);
   margin: 0 8px;
}

.just_in_2_a {
   display: block;
   width: 100%;
   height: 100%;
   display: flex;
   flex-direction: column;
   justify-content: flex-end;
   padding: 36px;
}

/* Featured Footwear CSS */
.footwear_wrap {
   width: 100%;
   padding: 84px 48px 0;
}


.footwear {
   width: 100%;
   padding: 0 8px;
   display: flex;
}

.footwear_1 {
   width: 100%;
   height: 900px;
   background-image: url(../img/footwear_1.jpg);
   display: flex;
   flex-direction: column;
   padding: 36px;
   justify-content: flex-end;
}



/* Trending Now CSS */
.trending_now_wrap {
   width: 100%;
   height: auto;
   padding: 84px 48px 0;
}


.trending_now {
   width: 100%;
   display: flex; 
}

.trending_now_1 {
   width: calc(50% - 16px);
   height: 700px;
   margin: 0 8px;
   background-image: url(../img/trending_now_1.jpg);
}

.trending_now_1_a { 
   display: block;
   width: 100%;
   height: 100%;
   display: flex;
   flex-direction: column;
   justify-content: flex-end;
   padding: 36px;
}

/* .trending_now_1_a:hover { background-color: rgba(0,0,0,0.3); } */

.trending_now_2 {
   width: calc(50% - 16px);
   height: 700px;
   margin: 0 8px;
   background-image: url(../img/trending_now_2.jpg);
}

.trending_now_2_a { 
   display: block;
   width: 100%;
   height: 100%;
   display: flex;
   flex-direction: column;
   justify-content: flex-end;
   padding: 36px;
}

/* .trending_now_2_a:hover { background-color: rgba(0,0,0,0.3); } */

/* Gear For Your Goals CSS */
.gear_wrap {
   width: 100%;
   padding: 84px 48px 0;
}


.gear {
   width: 100%;
   display: flex;
}

.gear li {
   width: calc(33.33333% - 16px);
   margin: 0 8px;
}

.gear li img { width: 100%; margin: 0 0 16px;}

/* Nike Slogan */
.slogan_wrap {
   width: 100%;
   padding: 84px 48px 0;
}

.slogan {
   width: 100%;
   height: 500px;
   background-image: url(../img/slogan.jpg);
   margin: 0 8px;
   display: flex;
   justify-content: center;
   align-items: flex-end;
   padding: 0 0 30px;
}

.slogan:hover {cursor: pointer;}

.slogan button { margin: 0 4px; }

.button_join_black {
   width: 112px;
   height: 40px;
   background-color: rgb(17,17,17);
   color: white;
   border-radius: 20px;
   text-align: center;
   font-size: 16px;
   line-height: 40px;
   border: none;
   transition: background-color 0.3s;
}  
.button_join_black:hover { background-color: rgba(0,0,0,0.7); }

/* Menu Link CSS */
.menulink_wrap {
   width: 100%;
   padding: 84px 48px ;
}

.menulink {
   width: 880px;
   padding: 0 8px;
   margin: 0 auto;
   display: flex;
   justify-content: space-between;
   height: 190px;
   overflow: hidden;
   transition: height 0.4s; 
}

.menulink:hover { height: 550px; }

.menulink ul { width: 192px; }

.menulink ul li { margin: 0 0 12px 0;}

.menulink ul li a {
   font-family: 'Noto Sans KR';
   font-size: 16px;
   font-weight: 500;
   color: rgb(117,117,117);
}

.menulink ul li:first-child {
   font-family: 'Noto Sans KR';
   font-size: 16px;
   font-weight: 500;
   margin: 0 0 24px 0;
   color: rgb(17,17,17);
}

/* CSS for Tablet landscape & Mini Notebook (1280, 1366) */
@media screen and (max-width:1439px) {

   /* Main Visual CSS */
   .main_visual_1 { height: 700px; }
   .main_visual_2 { height: 700px; }

   /* Just In CSS */
   .just_in_1 { height: 500px; }
   .just_in_2 { height: 500px; }

   /* Featured Footwear CSS */
   .footwear_1 { height: 700px; }

   /* Trending Now CSS */
   .trending_now_1 { height: 500px; }
   .trending_now_2 { height: 500px; }

}

/* CSS for Tablet Portrait */
@media screen and (max-width:1023px) {

   /* Main Visual CSS */
   .main_visual_wrap { width:100%; padding: 0 12px; }

   .main_visual_1 { height: 500px; }
   .main_visual_1 p:nth-child(2) {
      font-size: 48px;
      line-height: 40px;
   }

   .main_visual_2 { height: 500px; }

   /* The Latest And Greatest - Best CSS */
   .best_wrap { width: 100%; padding: 84px 0 0; }
   .best_wrap h2 { padding: 0 0 0 20px; }
   .best_scroll_wrap {
      width: 100%;
      overflow: scroll;
      padding: 0 0 20px 12px;
   }
   .best { width: 270%; }
   .best li {
      width: 100%;
      height: auto;
      margin: 0 8px;
   }   

   /* Just In CSS */
   .just_in_wrap {
      width: 100%;
      padding: 84px 12px 0;
   }
   .just_in_1 { height: 500px; }
   .just_in_2 { height: 500px; }

   /* Featured Footwear CSS */
   .footwear_wrap {
      width: 100%;
      padding: 84px 12px 0;
   }
   .footwear_1 { height: 500px; }
   .footwear_1 p:nth-child(2) {
      font-size: 48px;
      line-height: 40px;
   }

   /* Trending Now CSS */
   .trending_now_wrap {
      width: 100%;
      padding: 84px 12px 0;
   }
   .trending_now_1 { height: 500px; }
   .trending_now_2 { height: 500px; }

   /* Gear For Your Goals CSS */
   .gear_wrap {
      width: 100%;
      padding: 64px 12px 0;
   }   
   .gear_scroll_wrap {width: 100%; overflow: scroll; padding: 0 0 20px ;}
   .gear {width: 1038px;}
   .gear_1 {width: 330px;}
   .gear_2 {width: 330px;}
   .gear_3 {width: 330px;}
   
   /* Menu Link CSS */
   .menulink_wrap {
      width: 100%;
      padding: 84px 12px 20px;
   }

   .menulink {
      width: 100%;
      padding: 0 8px;
   }

   .menulink ul { width: 25%; }

   .menulink ul li a {
      font-size: 14px;
      line-height: 24px;
   }
   
   .menulink ul li:first-child {
      font-size: 14px;
      line-height: 24px;
   }

}
/* CSS fot Mobile Landscape 
@media screen and (max-width:767px) {
   
} */

/* CSS fot Mobile Portrait  */
@media screen and (max-width:639px) {

   .main_visual {
      width: 100%;
      padding: 0 8px;
      display: flex;
      flex-wrap: wrap;
   }

   .main_visual_1 {
      width: 100% ;
      height: 674px;
      background-image: none;
      padding: 0;
   }

   .main_visual_1 div { 
      display: block;
      margin: 0 0 20px 0;
      width: 100%;
      height: 500px;
      background-image: url(../img/nike-just-do-it-1.png);
      background-position: center center;
      background-size: cover;
      background-repeat: no-repeat;
   }

   .main_visual_1 p { color: rgb(17,17,17); }
   .main_visual_1 a {
      color: white;
      background-color: rgb(17,17,17);
   }
   
   .main_visual_2 { display: none; }
   
   /* The Latest And Greatest - Best CSS */
   .best_scroll_wrap { padding: 0 0 20px 12px; }
   
   .best { width: 1892px; }
   
   .best li { width: 300px; }

   /* Just In CSS */
   .just_in {flex-wrap: wrap;}

   .just_in_1 { 
      height: 500px; 
      width: 100%;
      margin: 0 8px 8px; 
   }
   .just_in_2 { 
      height: 500px;
      width:100%; 
   }

   .just_in_1_a { padding: 24px; }
   .just_in_2_a { padding: 24px; }

   /* Featured Footwear CSS */
   .footwear_1 { 
      background-image: none;
      height: 500px;
      padding: 0 0 ;
   }
   .footwear_1 div {
      width: 100%;
      height: 500px;
      background-image: url(../img/footwear_1.jpg);
      margin: 0 0 20px;
   }

   /* Trending Now CSS */
   .trending_now { flex-wrap: wrap; }
   .trending_now_1 { 
      height: 500px;
      width: 100%;
      margin: 0 8px 8px;}
   .trending_now_2 {
      height: 500px;
      width: 100%;
   }
   .trending_now_1_a { padding: 24px; }
   .trending_now_2_a { padding: 24px; }

   /* Gear For Your Goals CSS */
   .gear_wrap {
      width: 100%;
      padding: 64px 12px 0;
   }   
   .gear_scroll_wrap {width: 100%; overflow: scroll; padding: 0 0 20px ;}
   .gear {width: 948px;}
   .gear_1 {width: 300px;}
   .gear_2 {width: 300px;}
   .gear_3 {width: 300px;}

   /* Nike Slogan */
   .slogan_wrap {
      width: 100%;
      padding: 64px 0 0;
   }

   .slogan { 
      background-image: url(../img/slogan_m.jpg); 
      margin: 0;
   }

   /* Menu Link CSS */
   .menulink_wrap {
      width: 100%;
      padding: 84px 12px 20px;
   }
   .menulink {
      width: 100%;
      padding: 0 8px;
      flex-wrap: wrap;
   }
   .menulink ul { 
      width: 100%;
      height: 40px;
      overflow: hidden;
   }
   .menulink ul li a {
      font-size: 14px;
      line-height: 24px;
   }
   .menulink ul li:first-child {
      font-size: 14px;
      line-height: 24px;
   }
}

@media screen and (max-width:420px) {  

   .main_visual_1 div {
      display: block; margin: 0 0 20px 0; 
      width: 100%; height: 500px; 
      background-image: url(../img/nike-just-do-it-1.png); background-size: cover; 
      background-position: -120px center;
      background-repeat: no-repeat;} 
   
}